.navbar-dark .navbar-nav .nav-link {
    color: #f8f9fa;
}

.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  
  .imgLogo{
    margin-top:0%;
    position: fixed;
    z-index: 2000!important;
    box-shadow: 1px 5px 6px 1px #00000040;
    
  }
  .toolbarspace{
    width:145px;
  }
 /* border-box */
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

/* Undoes normalize.css setting box-sizing to content-box */
input[type="search"] {
  box-sizing: border-box;
    font-family: 'Ubuntu Condensed', sans-serif!important;
}

.container {
  width: 500px;
  margin: 50px auto;
}

.Search {
  position: relative;
  display: flex;
  font-weight: 300;
  font-size: 0.6em;
  color: #555;
 
}

.Search-box {
  flex: 1 0 auto;
  margin: 0 10px 0 10px;
  padding: 3px 8px;
  height: 30px;
  border: 0;
  box-shadow: 0 3px 12px -1px rgba(0, 0, 0, .3);
  transition: all .15s ease-in-out;
}
.Search-box:focus {
  flex: 1 0 90%;
  margin: 0 0 0 5px;
  outline: 0;
}

.Search-label {
  position: absolute;
  top: 0px;
  right: 40px;
  font-size: 1.0em;
  transition: all .15s ease-in-out;
}

.Search-box:focus + .Search-label {
  transform: translateX(6px);
}

p{
  font-size:0.6em;
  font-weight: 100;
  margin-top: 1%;
  margin:0 1% 0 1%;
}
#navPara:hover{
 border-bottom: 1px solid #fff!important;
}
#navPara2:hover{
  border-bottom: 1px solid #000!important;
 }
.pointCursor{
  cursor: pointer;
}

.mat-form-field{
  font-weight: 300;
  font-family: 'Ubuntu Condensed', sans-serif!important;
  font-size: 0.7em;
}
.mat-form-field .mat-select{
  font-family: 'Ubuntu Condensed', sans-serif!important;
}
.mat-option{
  font-family: 'Ubuntu Condensed', sans-serif!important;
}
.mat-icon{
  font-size: 35px;
}
.mat-raised-button{
  background-color: #5b8725!important;
  color:#fff!important;
  font-weight: 600;
  font-family: 'Ubuntu Condensed', sans-serif!important;
  
}

.mat-list-item{
  font-size:17px;
  width:140px!important;
  font-family: 'Ubuntu Condensed', sans-serif!important;
}
.mat-list-item:hover{
  background-color: #ddd;
}

.mat-list-item p{
  font-size:12px;
  opacity: 0.6;
}
.mat-menu{
  margin-top: -8%;
}