.div-bg-color {
    background: rgb(228, 228, 228);
}

.greenColor {
    color: #5B8725!important;
}

.orangeColor {
    color: #CF4520!important;
}

.blackColor {
    color: #000;
}

.mat-raised-button {
    font-weight: 600;
    font-family: "Tajawal", sans-serif!important;
}

.greenButton {
    background-color: #5b8725!important;
    color: #fff!important;
}

.dispFlex {
    display: contents;
}

.width80 {
    width: 80%;
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #5b8725!important;
}

 ::ng-deep.mat-radio-button.mat-accent .mat-radio-inner-circle {
    color: #5b8725!important;
    background-color: #5b8725!important;
}

 ::ng-deep.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: #5b8725!important;
}

;