<div class="col-12 no-padding">
    <h1 mat-dialog-title class="secondaryFont orangeColor">Add Product to Order</h1>
    <mat-radio-group [(ngModel)]="selectedOrderType" color="accent">
        <div class="col-12 no-padding">
            There's still time to update your current order(s)
            <strong>
        <mat-radio-button [disabled]="'true'" value="Existing">
          Existing Order</mat-radio-button>
      </strong>

            <hr>
        </div>
        <div class="col-12 no-padding">
            <div class="row">
                <div class="col-12"> <strong>
            <mat-radio-button value="New">Create New Order</mat-radio-button>
          </strong></div>
            </div>
            <div *ngIf="selectedOrderType=='New'" class="row">
                <div class="col-6">
                    <mat-form-field appearance="outline" class="width80">
                        <input matInput [(ngModel)]="deliveryDate" [min]="deliveryDate" [value]="deliveryDate" [matDatepicker]="delivery" />
                        <mat-datepicker-toggle matSuffix [for]="delivery"></mat-datepicker-toggle>
                        <mat-datepicker #delivery></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="outline" class="width80">
                        <input [(ngModel)]="poNumber" placeholder="PO#" matInput type="text" /></mat-form-field>
                </div>
            </div>
        </div>
    </mat-radio-group>
    <div class="col-12 float-right">
        <button mat-raised-button class="greenButton float-right" color="primary" (click)="createOrder(true)">Create
      Order</button>
        <button mat-raised-button color="accent" class="float-left" (click)="createOrder(false)">Close</button></div>

</div>