.smallFont {
    font-size: 0.9em;
}

.greenColor {
    color: #5B8725!important;
}

.orangeColor {
    color: #CF4520!important;
}

.blackColor {
    color: #000;
}

.dispFlex {
    display: contents;
}

.center {
    margin: 0 auto;
    display: block;
}

.width-inherit {
    width: inherit;
}
.width80{
    width: 80%;
}

.current-order-matcard-fixed {
    position: fixed;
    margin-top: 1%;
}

.pointerCursor {
    cursor: pointer!important;
}

.maxHeight {
    max-height: 170px!important;
    overflow-y: auto!important;
}

.minHeight {
    min-height: 50px!important
}

.mat-card {
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    display: block;
    position: relative;
    padding: 16px;
    border-radius: 4px;
    background: rgb(243, 243, 243);
}

.mat-form-field {
    font-family: "Tajawal", sans-serif!important;
    margin-left: 3%;
    margin-right: 3%;
}

.mat-raised-button {
    background-color: #5b8725!important;
    color: #fff!important;
    font-weight: 600;
    font-family: "Tajawal", sans-serif!important;
}

.mat-raised-button[disabled]:not([class*='mat-elevation-z']) {
    opacity: 0.5;
}

.mat-button[disabled] {
    opacity: 0.5;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #ddd;
}

::-webkit-scrollbar-thumb {
    background-color: #5B8725;
}

.discontinued-color
{
    color: #f10000;
}