<!-- <app-header></app-header> -->
<!-- <router-outlet></router-outlet> -->
<hr>
<div class="row">

    <button class="center margAuto" mat-raised-button (click)="outputEmit()"><strong>Call API</strong></button>
</div>
<hr>
<app-productList></app-productList>