<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <div class="row">
                    <div class="col-12">
                        <h3 class="secondaryFont orangeColor">Create Order</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 dispFlex">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                            <h5 class="secondaryFont adjustMarg">Tuesday.</h5>
                        </div>

                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                            <mat-form-field color="secondary" class="float-right">
                                <mat-select placeholder="Display" (selectionChange)="changePageSize($event)"
                                    [(value)]="dispPage">
                                    <mat-option value="100">
                                        100
                                    </mat-option>
                                    <mat-option value="200">
                                        200
                                    </mat-option>
                                    <mat-option value="300">
                                        300
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                        </div>
                    </div>
                </div>
                <!-- Vinayak ang Sujupa -->
                <div class="row border pt-3 pb-none marg0 pb-2 div-bg-color">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 dispFlex">
                        <div class="col-12 col-sm-4 col-md-2 col-lg-2 dispFlex">
                            <mat-form-field class="search-form-field  mat-input-underline input.mat-input-element"
                                appearance="outline">
                                <input matInput type="text" placeholder="Search within" [(ngModel)]="searchText"
                                    (change)="search(false)">
                                <button mat-button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear"
                                    (click)="searchText=search(true)">
                                    <i class="fa fa-close"></i>
                                </button>

                            </mat-form-field>
                            <button mat-button matSuffix mat-icon-button aria-label="Search" (click)="search(false)">
                                <span class="fa fa-search"></span>
                            </button>

                        </div>
                        <div class="col-12 col-sm-4 col-md-4 col-lg-4 dispFlex border-left-5">
                            <mat-form-field id="selectBox" color="secondary" appearance="outline">
                                <mat-select placeholder="Sort By" (selectionChange)="sort($event)"
                                    [(ngModel)]="sortByStatus">
                                    <mat-option *ngFor="let s of sortOptions" [value]="s.type">
                                        {{s.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-sm-3 col-md-4 col-lg-4 dispFlex">
                            <mat-form-field id="selectBox" color="secondary" appearance="outline">
                                <mat-select placeholder="View" (selectionChange)="view($event)">
                                    <mat-option value='All'>All</mat-option>
                                    <mat-option *ngFor="let view of viewKeys" [value]="view">
                                        {{view}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-sm-3 col-md-2 col-lg-2 dispFlex mt-3">
                            <mat-button-toggle-group #group="matButtonToggleGroup" value="left">
                                <mat-button-toggle value="right" (click)="setToggleStatusCompact()">
                                    <i class="fa fa-align-left" matTooltip="Compact View"></i>
                                </mat-button-toggle>
                                <mat-button-toggle value="left" (click)="setToggleStatusDetailed()">
                                    <i class="fa fa-bars" matTooltip="Detailed View"></i>
                                </mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>

                    </div>
                </div>
                <!-----------------pagination--------------->
                <div class="row m-3" *ngIf="loadFirst">
                    <div class="col-12" *ngIf="paginationList|async as $paginationList">
                        <jw-pagination [items]="$paginationList" (changePage)="onChangePage($event)" [maxPages]="8"
                            [pageSize]="pageSize"></jw-pagination>

                    </div>
                </div>

                <div class="row m-3" *ngIf="!loadFirst && paginationList.length>0">
                    <div class="col-12">
                        <jw-pagination [items]="paginationList " (changePage)="onChangePage($event)" [maxPages]="8"
                            [pageSize]="pageSize"></jw-pagination>

                    </div>
                </div>
                <!-----------------end of pagination---------->

                <!-- Vinayak & Sujupa Ends -->
                <div class="row">
                    <div class="col-12" *ngIf="!notFound">
                        <cdk-virtual-scroll-viewport itemSize="{{pageSize}}" class="virtualViewport">
                            <mat-accordion *cdkVirtualFor="let group of displayList | keyvalue">
                                <hr class="mt-1 mb-1">
                                <h5 *ngIf="(group.value.length != 0) && (sortByStatus !== 'alpha')">
                                    <strong>{{group.key}}</strong>
                                </h5>
                                <hr class="mt-1 mb-1">
                                <!-- <div class="col" *ngFor="let data of group.value;let index=index" >
                                            <div *ngIf="data.discontinued && loadIndex == index" class="row"><span class="info alert alert-warning product-discontinued">
                                                    <i matTooltipPosition="above" matTooltip="This Product is no longer available for Purchase.This product is no longer available for purchase. A similar product may be available. Find a replacement or remove this product from your list" class="fa fa-question-circle greenColor"></i>
                                                    Product Discontinued!</span></div>
                                    </div> -->



                                <mat-expansion-panel [@.disabled]="true"
                                    *ngFor="let data of group.value;let index=index" [expanded]="indexExpanded == index"
                                    [disabled]="true">


                                    <mat-expansion-panel-header class="mat-expansion-header-padding">
                                        <!-- Mat Panel Expansion on Custom Button Starts (Done By Kenny) -->
                                        <mat-panel-title>

                                            <button tabindex="-1" [disableRipple]="true" mat-raised-button
                                                class="mat-expansion-button-padding pointerCursor"
                                                (click)="togglePanels($event,index)"><i
                                                    [ngClass]="(indexExpanded == index)?'fa fa-chevron-up':'fa fa-chevron-right'"
                                                    aria-hidden="true">
                                                </i></button>
                                        </mat-panel-title>
                                        <!-- Mat Panel Expansion on Custom Button Ends (Done By Kenny) -->
                                        <mat-panel-description>
                                            <mat-card
                                                class="col-12 col-sm-12 col-md-12 col-lg-12 primaryFont smallFont mat-panel-description">
                                                <div *ngIf="data.discontinued" class="row"><span
                                                        class="info alert alert-warning product-discontinued">
                                                        <i matTooltipPosition="above"
                                                            matTooltip="This Product is no longer available for Purchase.This product is no longer available for purchase. A similar product may be available. Find a replacement or remove this product from your list"
                                                            class="fa fa-question-circle greenColor"></i>
                                                        Product Discontinued!</span></div>

                                                <div *ngIf="data.specialOrder" class="row"><span
                                                        class="info alert alert-warning product-discontinued"><i
                                                            matTooltipPosition="above"
                                                            matTooltip="This product is a special order. Contact your local sales representative to order this product"
                                                            class="fa fa-question-circle greenColor"></i>
                                                        Call To Order</span></div>

                                                <div class="row paraWidth">
                                                    <div *ngIf="toggleStatusDetailed"
                                                        class="col-5 col-sm-6 col-md-4 col-lg-2 col-xl-2"><img
                                                            [src]="data.image"></div>
                                                    <div
                                                        class="col-12 col-sm-8 col-md-2 col-lg-4 col-xl-4 border-r-custom pl-8">
                                                        <p><strong>{{data.description}} </strong></p>
                                                        <p>{{data.brand}} <span
                                                               matTooltip="This product is a special order. Contact your local sales representative to order this product."
                                                               matTooltipPosition="above" 
                                                               [ngClass]="{
                                                                'special-order-icon-padding':data.specialOrder === true }"><img
                                                                    *ngIf="data.specialOrder"
                                                                    src="assets/specialordericon.png" /></span> 
                                                                    <span
                                                                    matTooltip="This product is sourced locally."
                                                                    matTooltipPosition="above"
                                                                [ngClass]="{
                                                                    'special-order-icon-padding':data.locallySourced === true ,
                                                                        'call-to-order-icon-padding':data.specialOrder === true }"><img
                                                                    *ngIf="data.locallySourced"
                                                                    src="assets/Locally-Sourced-Icon.png" /></span></p>
                                                        <p>#{{data.id}}
                                                            <p>{{data.productNote}} </p>
                                                    </div>

                                                    <div
                                                        class="col-12 col-sm-8 col-md-2 col-lg-2 col-xl-2 border-r-custom">
                                                        <strong>
                                                            <p
                                                                *ngIf="data.priceCases && (!data.discontinued &&!data.specialOrder) ">
                                                                {{data.priceCases}}/CS</p>
                                                            <p
                                                                *ngIf="data.priceEaches && (!data.discontinued && !data.specialOrder)">
                                                                {{data.priceEaches}}/EA</p>
                                                            <p *ngIf="data.discontinued"><strong>No Price</strong></p>
                                                            <p *ngIf="data.specialOrder"><strong>Call For Price</strong>
                                                            </p>
                                                        </strong>
                                                        <p>{{data.quantity}}</p>
                                                    </div>
                                                    <div (click)="$event.stopPropagation()"
                                                        class="col-12 col-sm-8 col-md-2 col-lg-2 col-xl-2 border-r-custom">
                                                        <form class="width-inherit ">
                                                            <div class="form-group"
                                                                *ngIf="data.priceCases && !data.discontinued">

                                                                <!-- Up/Down/Right/Left/Tab Focus Functionality for CS Text Box Starts here(Done By Kenny) -->
                                                                <mat-form-field class="width50" appearance="outline"
                                                                    #inputVal>
                                                                    <input matInput type="number" min="1" class="inpval"
                                                                        placeholder="CS" (keydown)="onKeyDown($event)"
                                                                        (click)="onClick($event)" tabIndex="-1"
                                                                        (blur)="enteredQuantity($event.target.value,data,'updateCases')"
                                                                        [value]="data.updateCases"
                                                                        [disabled]="data.specialOrder">
                                                                </mat-form-field>
                                                                <!-- Up/Down/Right/Left/Tab Focus Functionality for CS Text Box Ends here(Done By Kenny) -->

                                                            </div>
                                                        </form>
                                                        <form class="width-inherit ">
                                                            <div class="form-group"
                                                                *ngIf="data.priceEaches && !data.discontinued">
                                                                <mat-form-field class="width50" appearance="outline">
                                                                    <!-- Up/Down/Right/Left/Tab Focus Functionality for EA Text Box Starts here(Done By Kenny) -->
                                                                    <input matInput tabindex="-1" type="number"
                                                                        placeholder="EA" class="inpval" min="1"
                                                                        (keydown)="onKeyDown($event)"
                                                                        (click)="onClick($event)" tabIndex="-1"
                                                                        (blur)="enteredQuantity($event.target.value,data,'updateEaches')"
                                                                        [value]="data.updateEaches"
                                                                        [disabled]="data.specialOrder"></mat-form-field>
                                                                <!-- Up/Down/Right/Left/Tab Focus Functionality for EA Text Box Ends here(Done By Kenny) -->

                                                            </div>
                                                        </form>
                                                        <div *ngIf="data.discontinued">
                                                            <button mat-button
                                                                class="greenColor smallBtn px-2 mx-0"><strong>Remove
                                                                    Product</strong></button>
                                                            <button mat-button
                                                                class="greenColor smallBtn px-2 mx-0"><strong>Search for
                                                                    Subs</strong></button>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-sm-8 col-md-1 col-lg-2 col-xl-2">
                                                        <p>{{data.lineNo}}</p>
                                                    </div>
                                                </div>

                                            </mat-card>


                                        </mat-panel-description>
                                    </mat-expansion-panel-header>

                                    <div *ngIf="loadIndex == index">
                                        <div class="row ">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 dispFlex ">
                                                <div
                                                    class="col-12 col-sm-6 col-md-4 col-lg-3 primaryFont list-padding ">
                                                    <ul><strong>Lists({{data.lists.length}})</strong>
                                                        <li *ngFor="let l of data.lists">{{l}}</li>

                                                    </ul>
                                                </div>
                                                <div
                                                    class="col-12 col-sm-6 col-md-4 col-lg-3 primaryFont list-padding ">
                                                    <strong>Order History Summary</strong>
                                                    <p *ngIf="data.orderHistory">{{data.orderhistory}}</p>
                                                    <p *ngIf="!data.orderHistory">No product order history</p>
                                                </div>
                                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 primaryFont list-padding">


                                                    <ul>
                                                        <strong>Product Attributes</strong>
                                                        <p *ngIf="data.productAttributes.length==0">No product
                                                            attributes</p>
                                                        <li *ngFor="let attribute of data.productAttributes">
                                                            {{attribute.description}}</li>
                                                    </ul>

                                                </div>
                                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 primaryFont"></div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-12 col-sm-8 col-md-8 col-lg-12 dispFlex">

                                                <div class="col-12 col-sm-3 col-md-3 col-lg-3 primaryFont list-padding">
                                                    <ul> <strong>USF Storage</strong>
                                                        <li *ngFor="let u of data.usfstorage">{{u}}</li>
                                                    </ul>
                                                </div>
                                                <div class="col-12 col-sm-3 col-md-3 col-lg-3 primaryFont list-padding">


                                                </div>
                                                <div class="col-12 col-sm-3 col-md-3 col-lg-3 primaryFont list-padding">
                                                    <strong>Product Note</strong>
                                                    <p *ngIf="data.productNote && !editProductNoteFlag">
                                                        {{data.productNote}}</p>
                                                    <p *ngIf="!data.productNote && !editProductNoteFlag">No Product Note
                                                    </p> <br />
                                                    <input *ngIf="editProductNoteFlag" type="text"
                                                        [(ngModel)]="data.productNote" />
                                                </div>
                                                <div class="col-12 col-sm-3 col-md-3 col-lg-3 primaryFont list-padding">
                                                    <span *ngIf="data.productNote && !editProductNoteFlag">
                                                        <a class="smallFont greenColor add-delete-doneproduct-note"
                                                            (click)="editProductNoteFlag=true">Edit </a>
                                                        |
                                                        <a
                                                            class="smallFont greenColor add-delete-doneproduct-note">Delete</a>
                                                    </span>


                                                    <a *ngIf="!data.productNote && !editProductNoteFlag && index"
                                                        (click)="editProductNoteFlag=true"
                                                        class="smallFont greenColor add-delete-doneproduct-note">Add</a>
                                                    <a *ngIf="editProductNoteFlag && indexExpanded == index"
                                                        (click)="editProductNoteFlag=false"
                                                        class="smallFont greenColor add-delete-doneproduct-note">Done</a>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-12">
                                                <button mat-button class="float-left greenColor"> <i
                                                        class="fa fa-times-circle blackColor"></i>&nbsp;
                                                    Delete Product</button>
                                                <button mat-button class="float-right greenColor">Product Detail <i
                                                        class="fa fa-play-circle"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </cdk-virtual-scroll-viewport>
                    </div>
                </div>
                <!-- Search Failed Message Starts here (Done By Kenny) -->
                <div *ngIf="notFound" class="primaryFont container mt-5 ">
                    <blockquote class="blockquote">
                        <p> We did not find any matches for <mark style="background-color : rgb(243, 243, 243);"><kbd>
                                    {{searchText}} </kbd> </mark>
                            <br />Please revise your search.</p>
                        <br /><b>Search Tips: </b> <br /> Double check your spelling for typos.<br /> Use general
                        product(s) or fewer keywords. <br /> Try searching for an item that is less specific and refine
                        results<br />
                    </blockquote>
                </div>
                <!-- Search Failed Message Ends here (Done By Kenny) -->


            </div>

            <div class="col-4">
                <app-current-order class="current-order-parentWidth current-order-matcard-fixed"></app-current-order>
            </div>
        </div>
    </div>
</body>