.center {
    margin: 0 auto;
    display: block;
}

body{
    overflow-y: hidden;
}


/*----------------CSS Code by Kenny------------------------*/

.list-padding {
    padding: 0px;
}

.ul-list-style-none {
    list-style-type: none;
}

.no-wrap {
    white-space: nowrap;
}

.div-bg-color {
    background: rgb(243, 243, 243);
}

.border-r-custom {
    border-right: 2px dotted #8f9191 !important;
}


/*----------------CSS Code by Kenny------------------------*/

.product-discontinued
{
    width: -webkit-fill-available;
    // padding-left: 350px;
    margin-top: -16px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: -5px;
    margin-right: -5px;
    color: black;
    background-color: #fff2d5;
    border-color: #eecd84;
}

.add-delete-doneproduct-note
{
    cursor: pointer;
}

.width-inherit {
    width: inherit;
}

.width50 {
    width: 50%!important
}

.display-inherit {
    display: inherit;
}

.dispFlex {
    display: contents!important;
}

.dispNone {
    display: none!important;
}

.adjustMarg {
    margin-top: 4%;
    margin-bottom: 0%;
}

.paraWidth p {
    margin-top: 0%;
    margin-bottom: 1%;
}

.smallFont {
    font-size: 0.9em;
}

.greenColor {
    color: #5B8725!important;
}

.orangeColor {
    color: #CF4520!important;
}

.blackColor {
    color: #000;
}

.pointerCursor {
    cursor: pointer!important;
}

pre {
    font-family: inherit!important;
}

.fullWidth {
    width: 100%;
}

.marg0 {
    margin: 0!important
}

.current-order-matcard-fixed {
    position: sticky;
    margin-top: 1%;
}

.current-order-parentWidth {
    width: 30%;
}

.virtualViewport {
    height: 600px!important;
}

.smallBtn {
    font-size: 0.8em!important
}


/*--------- ALL MATERIAL AND EMBEDDED CHANGES-------- */

.mat-form-field {
    font-family: "Tajawal", sans-serif!important;
    margin-left: 3%;
    /* margin-right: 3%; */
}

.mat-form-field .mat-select {
    font-family: "Tajawal", sans-serif!important;
}

.mat-option {
    font-family: "Tajawal", sans-serif!important;
}

.mat-raised-button {
    color: #000 !important;
    font-weight: 600;
    font-family: "Tajawal", sans-serif!important;
}

.mat-expansion-panel-header {
    height: auto !important;
}

.mat-panel-description {
    margin: 1%;
    /* box-shadow: inset 0px 3px 15px 0px #0000001f; */
}

.mat-expansion-indicator::after {
    visibility: hidden !important;
    display: none !important;
}

.mat-expansion-header-padding {
    padding: 1px;
}

.mat-card-position-fixed {
    position: fixed;
}

.mat-expansion-button-padding {
    border-radius: 2px;
    outline: none;
    margin-right: 1%;
    background: rgb(243, 243, 243);
}

.mat-icon-button {
    height: 0em!important;
}

::ng-deep.mat-icon-button .mat-icon,
.mat-icon-button i {
    line-height: 24px;
    margin-bottom: 0.9em;
}

.mat-button-toggle-checked {
    background-color: #5B8725;
}

.mat-card-custom {
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    display: block;
    position: relative;
    padding: 16px;
    border-radius: 4px;
    background: rgb(228, 228, 228);
}

::ng-deep.mat-expansion-panel {
    transition: none!important;
}


/* For input fields grey */

::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline {
    color: black;
    background: white;
    border: #ddd;
}

.mat-expansion-panel {
    background: rgb(243, 243, 243);
}

input.mat-input-element {
    color: Black;
}


/* for inputfields grey ends  */

::ng-deep.mat-expansion-panel-header-description,
.mat-expansion-panel-header-title {
    display: flex;
    flex-grow: 0;
    /* margin-right: 16px; */
}

::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.1em 0 0.3em 0!important;
}


/* Changes On Look By Ken */

::ng-deep .mat-button-toggle-group {
    height: 40px;
    border-radius: 4px;
    padding: 0px !important;
    margin-left: 3%;
}

 ::ng-deep.mat-button-toggle {
    font-size: 1.0em;
    padding: 0 !important;
}

 ::ng-deep.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 38px!important;
}

::ng-deep.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #ddd;
}

::ng-deep.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #5B8725;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #ddd;
}

::-webkit-scrollbar-thumb {
    background-color: #5B8725;
}

::ng-deep .first-item {
    display: none !important;
}

::ng-deep .last-item {
    display: none !important;
}


/* ::ng-deep .previous-item  {  display: none !important;} */


/* ::ng-deep .next-item  {  display: none !important;} */

::ng-deep .page-item.active .page-link {
    background-color: #3a3a3a !important;
    border: none !important;
    cursor: pointer !important;
    color: white !important;
}

::ng-deep .page-item.active .page-link:hover {
    color: white !important;
    cursor: pointer !important;
    font-weight: 600;
}

::ng-deep .page-link {
    font-size: 0.7em!important;
    background-color: transparent !important;
    border: none !important;
    cursor: pointer !important;
    color: #5B8725!important;
    font-weight: 600;
}

::ng-deep .pagination {
    justify-content: center!important;
}


/* --------------MEDIA QUERIES FOR RESPONSIVENESS---------------- */

@media all and (min-width: 960px) {
    body h3 {
        font-size: 1.8em;
    }
    // Icon Padding For Call/Order
.special-order-icon-padding
{
    padding-left: 80px !important;
}
.call-to-order-icon-padding
{
    padding: 15px !important;
}
}

@media all and (min-width: 960px) {
    
    // Icon Padding For Call/Order
.special-order-icon-padding
{
    padding-left: 80px !important;
}
.call-to-order-icon-padding
{
    padding: 15px !important;
}
}

@media all and (max-width: 959px) and (min-width: 600px) {
    body h3 {
        font-size: 1.4em;
    }
    // Icon Padding For Call/Order
.special-order-icon-padding
{
    padding: 30px !important;
}
.call-to-order-icon-padding
{
    padding: 15px !important;
}
}

@media all and (max-width: 599px) and (min-width: 320px) {
    body h3 {
        font-size: 12px;
    }
    // Icon Padding For Call/Order
.special-order-icon-padding
{
    padding: 20px !important;
}
.call-to-order-icon-padding
{
    padding: 15px !important;
}
}
@media all and (max-width: 1560px) and (min-width: 702px) {
    body h3 {
        font-size: 12px;
    }
    // Icon Padding For Call/Order
.special-order-icon-padding
{
    padding-left: 20px !important;
}
.call-to-order-icon-padding
{
    padding: 8px !important;
}
}

@media all and (max-width: 1238px) {

// Icon Padding For Call/Order
.special-order-icon-padding
{
    padding-left: 15px !important;
}
.call-to-order-icon-padding
{
    padding: 8px !important;
}
}

@media all and (max-width: 1215px) {

    // Icon Padding For Call/Order
    .special-order-icon-padding
    {
        padding-left: 12px !important;
    }
    .call-to-order-icon-padding
    {
        padding: 8px !important;
    }
    }

;