
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Tajawal');
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
/* For use in src/lib/core/theming/_palette.scss */
$md-mcgpalette0: (
    50 : #e7e7e7,
    100 : #c4c4c4,
    200 : #9d9d9d,
    300 : #757575,
    400 : #585858,
    500 : #3a3a3a,
    600 : #343434,
    700 : #2c2c2c,
    800 : #252525,
    900 : #181818,
    A100 : #6aa84f,
    A200 : #588d40,
    A400 : #a2d18d,
    A700 : #c8dfbe,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #000000,
        A700 : #000000,
    )
);










/* For use in src/lib/core/theming/_palette.scss */
/* For use in src/lib/core/theming/_palette.scss */
$md-mcgpalette1: (
    50 : #ffffff,
    100 : #ffffff,
    200 : #ffffff,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);











$mean-course-primary: mat-palette($md-mcgpalette0);
$mean-course-accent: mat-palette($md-mcgpalette1, A200, A100, A400);


// The warn palette is optional (defaults to red).
$mean-course-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$mean-course-theme: mat-light-theme($mean-course-primary, $mean-course-accent, $mean-course-warn);


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($mean-course-theme);

